@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');

/* Botón principal */
.btn-abrir {
  background-color: #33333300;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}

.btn-abrir:hover{
  color: rgb(39, 61, 55);
  font-size: 40px;
}

/* Panel Lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgb(124, 168, 168);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  
  /* Esconde el menú a la izquierda fuera de la pantalla */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.titulo{
  display: inline-flex;
    color: rgb(39, 61, 55);
    font-family: 'Fredoka', sans-serif;
    text-transform: uppercase;
}

.titulo-menu{
    color: rgb(39, 61, 55);
    font-family: 'Fredoka', sans-serif;
    text-transform: uppercase;
}

/* Estado abierto */
.sidebar.open {
  transform: translateX(0);
}

/* Encabezado del menú */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btn-cerrar {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.btn-cerrar:hover{
  background-color: #4e4b4b2a;
  border-radius: 100%;
}

/* Lista de navegación */
.sidebar-nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 1.2rem;
  padding: 10px;
}

.sidebar-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
}

/* Fondo oscuro translúcido */
.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.nav-bar a:hover,
.sidebar-nav a:hover {
  color: #ffffff;
  padding: 10px;
}